//*******************************Variables***********************
$font-stack: 'Roboto', sans-serif;
$primary-text: darkgoldenrod;
$nav-underline-color: goldenrod;
$rr-gold: goldenrod;
$rr-gold-dark: darkgoldenrod;
$rr-gold-darker: #926318;
$rr-gold-light: gold;
//***************************************************************

//*******************************imports***********************
@import '../src/home/views/home.scss';
//***************************************************************


.maindiv{
  height: 200px;
  width:900px;
  background-color: goldenrod;
  border:1px dotted gray;
  border-radius: 5px;
}
html, body {
  //font-family: $font-stack;
  height: auto;
}

.whiteText{
  color:white;
}
.blackText{
  color:black;
}


#body_div {
  height: 200px;
  background-color: transparent;
  margin-top: 30px;
}

#banner {
  width: 100%;
  height: 200px;
}

.brand_logo{
  height:200px;
}

.brand_logo_min{
  height:50px;
  position: absolute;
}
#brand_logo_minimized{
  transition: .3s ease-in-out;
}
.nav_links {
  margin: 0;
}

.nav_links li {
  display: inline-block;
  margin-top: 4px;
}
.nav_links li a {
  padding: 0 15.5px;
  color: #3498db;
  text-decoration: none;
}

//******************NAVBAR**************************

#menuButton{
  border: 1px solid $rr-gold;
  background-color: transparent;
  span{
    background-color: $rr-gold-dark;
  }
}
#menuButton:hover{
  background-color: $rr-gold-light;
}
.modal-footer button{
  background-color: $rr-gold-dark;
  color:White;
}
.modal-footer button:hover{
  background-color: $rr-gold !important;
  color:White;
}

.rrnavbar {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border: transparent;
  transition: .3s ease-in-out;

  ul li {
    display: inline;
    text-align: center;
    cursor: pointer;

    span {
      font-family: $font-stack;
      font-weight: bold;
      color: $primary-text;
      display: inline-block;
      width: 10%;
      padding: .75rem 0;
      margin: 0;
      text-decoration: none;
      cursor: pointer;
    }
  }
  #floatingline {
    height: .25rem;
    width: 10%;
    margin: 0;
    background: $nav-underline-color;
    border: none;
    transition: .3s ease-in-out;
    margin-left: 20%;
  }
}
.rrnavbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  //transition: .3s ease-in-out;
}

@media (min-width: 768px) {
  #floatingline{
    visibility: visible !important;
  }
  #selectedMenu{
    font-family: $font-stack;
    font-weight: bold;
    color: $primary-text;
    display: inline-block;
    width: 10%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    visibility: hidden !important;
  }
}
//
//.rrnavbar ul li {
//  display: inline;
//  text-align: center;
//  cursor: pointer;
//}
//.rrnavbar ul li span{
//  font-family: $font-stack;
//  font-weight: bold;
//  color: $primary-text;
//  display: inline-block;
//  width: 10%;
//  padding: .75rem 0;
//  margin: 0;
//  text-decoration: none;
//  cursor: pointer;
//}
//.rrnavbar hr {
//  height: .25rem;
//  width: 10%;
//  margin: 0;
//  background: $nav-underline-color;
//  border: none;
//  transition: .3s ease-in-out;
//  margin-left: 20%;
//}

#menuButton{
  color: $rr-gold-light;
}


@media (max-width: 768px) {
  #floatingline{
    visibility: hidden !important;
  }
  .rrnavbar ul li {
    display: block;
    text-align: center;
    cursor: pointer;
  }
  .docs-pictures > li {
    width: 50% !important;
    border: 1px solid transparent;
    overflow: hidden;
  }
}
#selectedMenu{
  font-family: $font-stack;
  font-weight: bold;
  color: $primary-text;
  display: inline-block;
  width: 10%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  visibility: visible;
}



.rr-margin-left-20{
  margin-left: 20% !important;
}
.rr-margin-left-30{
  margin-left: 30% !important;
}
.rr-margin-left-40{
  margin-left: 40% !important;
}
.rr-margin-left-50{
  margin-left: 50% !important;
}
.rr-margin-left-60{
  margin-left: 60% !important;
}
.rr-margin-left-70{
  margin-left: 70% !important;
}
//
//.item1 .item2 .item3 .item4 .item5 .item6{
//  width: 100px !important;
//}

.item1:hover ~ #floatingline{
  @extend .rr-margin-left-20;
}

.item2:hover ~ #floatingline {
  @extend .rr-margin-left-30;
}

.item3:hover ~ #floatingline {
  @extend .rr-margin-left-40;
}

.item4:hover ~ #floatingline {
  @extend .rr-margin-left-50;
}
.item5:hover ~ #floatingline {
  @extend .rr-margin-left-60;
}
.item6:hover ~ #floatingline {
  @extend .rr-margin-left-70;
}

.goldline{
  height: 1px;
  width:100%;
  background-color: $nav-underline-color;
}
///*********************NAVBAR END*************************/


.page-footer .btn{
  width: 150px;
  //height: 50px;
}

@import '../src/events/views/events.scss';




/* Content */
//*************************************************************************************************/
/***********************************VIEWER JS pictures CSS start***********************************/
//*************************************************************************************************/
//*************************************************************************************************/
.clearfix{
  width: 100%;
}

.docs-pictures {
  margin: 0;
  padding: 0;
  list-style: none;
}

.docs-pictures > li {
  float: left;
  width: 25%;
  height: 33.3%;
  margin: 0 -1px -1px 0;
  border: 1px solid transparent;
  overflow: hidden;
}

.docs-pictures > li > img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .docs-collapse {
    display: block;
  }

}

.docs-buttons > .btn-group,
.docs-buttons > .input-group {
  width: 100%;
  margin-bottom: 5px;
}

.docs-buttons .input-group-btn {
  width: 50%;
}

.docs-buttons .input-group-btn .btn {
  width: 100%;
}

/***********************************VIEWER JS pictures CSS end***********************************/

@import '../src/poojas/views/poojas.scss';
