<style>

    .poojas-price{
        background-color: whitesmoke;
    }

    .yagam-price{
        background-color: #e0f7fa;
        height: 400px;
    }

    .homam-price{
        background-color: #E3F2FD;
        border-radius: 3px;
        padding: 15px;
    }

</style>


<div class="container-fluid text-center">

    <div class="container text-center">
        <br>
        <h5>Pricing Information</h5>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <span style="border-bottom: 1px solid darkgoldenrod;">Sree Pathakkam</span>

                <div class="collection">
                    <a  class="collection-item" >Bronze<span class="medium-500 maketextgold badge-md">250 &#8377;</span></a>
                    <a  class="collection-item">Gold Plated<span class="medium-500 maketextgold badge-md">350 &#8377;</span></a>
                    <a  class="collection-item">Silver <span class="badge blue">Small</span><span class="medium-500 maketextgold badge-md">600 &#8377;</span></a>
                    <a  class="collection-item">Silver <span class="badge blue">Large</span><span class="medium-500 maketextgold badge-md">1,200 &#8377;</span></a>
                    <a  class="collection-item">Gold <span class="badge orange">2 gm</span><span class="medium-500 maketextgold badge-md">7,000 &#8377;</span></a>
                    <a  class="collection-item">Gold <span class="badge orange">4 gm</span><span class="medium-500 maketextgold badge-md">13,000 &#8377;</span></a>
                    <a  class="collection-item">Gold <span class="badge orange">8 gm</span><span class="medium-500 maketextgold badge-md">25,000 &#8377;</span></a>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <span style="border-bottom: 1px solid darkgoldenrod;">Sree Chakram</span>

                <div class="collection">
                    <a  class="collection-item">SMALL<span class="medium-500 maketextgold badge-md">1,500 &#8377;</span></a>
                    <a  class="collection-item">MEDIUM<span class="medium-500 maketextgold badge-md">3,000 &#8377;</span></a>
                    <a  class="collection-item">GOLD PLATED<span class="medium-500 maketextgold badge-md">6,000 &#8377;</span></a>
                </div>
            </div>
            </div>
        <div class="row container text-center">
            <p><small>*All Sreechakrams and SreePathakkams are available only on pre-Booking. Please make your bookings in advance</small></p>
        </div>
        </div>
    </div>

    <div class="row poojas-price">

        <div class="container text-center">
            <br>
            <h5>Special Poojas during Yagam</h5>
            <hr>
            <div class="row container text-center">
                <div class="col-md-3 col-lg-3">

                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                    <span style="border-bottom: 1px solid darkgoldenrod;">HOMAM</span>

                    <div class="collection homam-price">
                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam, All Homams
                            <span class="badge blue">5Days</span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">50,001 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam, All Homams
                            <span class="badge blue">1Day</span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">20,000 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam
                            <span class="badge blue"></span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">10,000 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Yagam
                            <span class="badge blue">1Day</span><span class="badge green">Individual</span>
                            <span class="medium-500 maketextgold badge-md">5,000 &#8377;</span></a>

                        <a  class="collection-item" style="background-color: transparent">Gayathri Kudumbarchana
                            <span class="badge blue">1Day</span><span class="badge green">Family</span>
                            <span class="medium-500 maketextgold badge-md">1,000 &#8377;</span></a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                    <span style="border-bottom: 1px solid darkgoldenrod;">HOMAM</span>

                    <div class="collection">
                        <a  class="collection-item" >Bronze<span class="medium-500 maketextgold badge-md">250 &#8377;</span></a>
                        <a  class="collection-item">Gold Plated<span class="medium-500 maketextgold badge-md">350 &#8377;</span></a>
                        <a  class="collection-item">Silver <span class="badge blue">Small</span><span class="medium-500 maketextgold badge-md">600 &#8377;</span></a>
                        <a  class="collection-item">Silver <span class="badge blue">Large</span><span class="medium-500 maketextgold badge-md">1200 &#8377;</span></a>
                        <a  class="collection-item">Gold <span class="badge orange">2 gm</span><span class="medium-500 maketextgold badge-md">7000 &#8377;</span></a>
                        <a  class="collection-item">Gold <span class="badge orange">4 gm</span><span class="medium-500 maketextgold badge-md">13000 &#8377;</span></a>
                        <a  class="collection-item">Gold <span class="badge orange">8 gm</span><span class="medium-500 maketextgold badge-md">25000 &#8377;</span></a>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                    <span style="border-bottom: 1px solid darkgoldenrod;">Sree Chakram</span>

                    <div class="collection">
                        <a  class="collection-item">SMALL<span class="medium-500 maketextgold badge-md">1500 &#8377;</span></a>
                        <a  class="collection-item">MEDIUM<span class="medium-500 maketextgold badge-md">3000 &#8377;</span></a>
                        <a  class="collection-item">GOLD PLATED<span class="medium-500 maketextgold badge-md">6000 &#8377;</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="yagam-price">

    </div>

    <br><br><br>

</div>