<style>
    .images img{
        height: 100px;
        width: 100px;
    }

</style>
<br>
<div class="container text-center">
    <h3>Gallery</h3>
    <ul class="docs-pictures clearfix">
        <li><img  data-original="images/carousel1.JPG" src="images/carousel1.JPG" alt="Cuo Na Lake"></li>
        <li><img data-original="images/carousel3.JPG" src="images/carousel3.JPG" alt="Tibetan Plateau"></li>
        <li><img data-original="images/carousel2.JPG" src="images/carousel2.JPG" alt="Jokhang Temple"></li>
        <li><img data-original="images/carousel3.JPG" src="images/carousel3.JPG" alt="Cuo Na Lake"></li>
        <li><img data-original="images/carousel1.JPG" src="images/carousel1.JPG" alt="Tibetan Plateau"></li>
        <li><img data-original="images/carousel2.JPG" src="images/carousel2.JPG" alt="Jokhang Temple"></li>
    </ul>
</div>