

.parallax {
  .parallax-content{
    background-color: navajowhite;
    opacity: 0.6;
    h3{
      color:black;
    }
    h5{
      color:black;
    }
  }
}

.transparent-back-white{
    background-color: white;
    opacity: 0.8;
}
